* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: #000;
  font-size: 20px;
  font-family: 'Avenir', 'Helvetica', 'Arial', sans-serif;
  text-align: center; }
  @media screen and (max-width: 840px) {
    body {
      font-size: 0.975em; } }
  @media screen and (max-width: 670px) {
    body {
      position: relative;
      font-size: 1em;
      background: rgba(37, 37, 37, 0.975);
      border: 9px solid #333; } }

a {
  color: #999;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

a:hover {
  color: #eee; }

body:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.the-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 20em;
  height: 100%;
  padding: 2em;
  background: rgba(37, 37, 37, 0.975);
  border: 19px solid #333;
  border-right: 0;
  z-index: 10; }
  @media screen and (max-width: 670px) {
    .the-sidebar {
      position: relative;
      left: 50%;
      width: 320px;
      margin-left: -160px;
      padding: 1em;
      border: 0;
      background: none; } }

.the-sessions-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 20em;
  background: #BE2672;
  border: 20px solid #90265b;
  border-left: 0;
  overflow: hidden;
  text-align: center;
  z-index: 0; }
  @media screen and (max-width: 670px) {
    .the-sessions-container {
      display: none; } }

.the-logo {
  position: relative;
  left: -0.1em;
  display: inline-block;
  margin: 0 auto 0.5em;
  color: #fff;
  text-shadow: #737373 1px 1px, #737373 2px 2px, #737373 3px 3px, #737373 4px 4px, #737373 5px 5px, #737373 6px 6px, #737373 7px 7px, #737373 8px 8px, #737373 9px 9px, #737373 10px 10px, #737373 11px 11px, #737373 12px 12px, #737373 13px 13px, #737373 14px 14px, #737373 15px 15px, #737373 16px 16px, #666666 17px 17px, #666666 18px 18px, #595959 19px 19px, #595959 20px 20px, #4d4d4d 21px 21px, #4d4d4d 22px 22px, #404040 23px 23px, #404040 24px 24px, #333333 25px 25px, #333333 26px 26px;
  font-size: 5em;
  font-family: monospace;
  line-height: 0.6em; }

.the-logo:before {
  content: "{";
  position: absolute;
  top: 0.3em;
  right: 100%;
  margin: 0;
  font-size: 1em;
  font-weight: normal;
  z-index: -1; }

.the-logo:after {
  content: "}";
  position: absolute;
  top: 0.3em;
  left: 100%;
  margin: 0;
  font-size: 1em;
  font-weight: normal; }

.the-logo span {
  font-size: 0.5em; }

.the-logo b {
  display: block;
  margin: 0;
  color: #ffcce6;
  text-shadow: #be2773 1px 1px, #be2773 2px 2px, #be2773 3px 3px, #be2773 4px 4px, #be2773 5px 5px, #be2773 6px 6px, #be2773 7px 7px, #be2773 8px 8px, #be2773 9px 9px, #be2773 10px 10px, #be2773 11px 11px, #be2773 12px 12px, #be2773 13px 13px, #be2773 14px 14px, #be2773 15px 15px, #be2773 16px 16px, #a92366 17px 17px, #a92366 18px 18px, #941e59 19px 19px, #941e59 20px 20px, #7f1a4d 21px 21px, #7f1a4d 22px 22px, #6a1640 23px 23px, #6a1640 24px 24px, #551133 25px 25px, #551133 26px 26px;
  font-size: 0.6em; }

.the-sessions {
  width: 10000px;
  margin: 0;
  padding: 6em 0;
  font-size: 16px;
  -webkit-animation: moveLeft 50s infinite alternate;
  animation: moveLeft 50s infinite alternate;
  overflow: hidden; }

@-webkit-keyframes moveLeft {
  0% {
    margin-left: 0; }

  2% {
    margin-left: 0; }

  4% {
    margin-left: -250px; }

  6% {
    margin-left: -250px; }

  8% {
    margin-left: -500px; }

  10% {
    margin-left: -500px; }

  12% {
    margin-left: -750px; }

  14% {
    margin-left: -750px; }

  16% {
    margin-left: -1000px; }

  18% {
    margin-left: -1000px; }

  20% {
    margin-left: -1250px; }

  22% {
    margin-left: -1250px; }

  24% {
    margin-left: -1500px; }

  26% {
    margin-left: -1500px; }

  28% {
    margin-left: -1750px; }

  30% {
    margin-left: -1750px; }

  32% {
    margin-left: -2000px; }

  34% {
    margin-left: -2000px; }

  36% {
    margin-left: -2250px; }

  38% {
    margin-left: -2250px; }

  40% {
    margin-left: -2500px; }

  42% {
    margin-left: -2500px; }

  44% {
    margin-left: -2750px; }

  46% {
    margin-left: -2750px; }

  48% {
    margin-left: -3000px; }

  50% {
    margin-left: -3000px; }

  52% {
    margin-left: -3250px; }

  54% {
    margin-left: -3250px; }

  56% {
    margin-left: -3500px; }

  58% {
    margin-left: -3500px; }

  60% {
    margin-left: -3750px; }

  62% {
    margin-left: -3750px; }

  64% {
    margin-left: -4000px; }

  66% {
    margin-left: -4000px; }

  68% {
    margin-left: -4250px; }

  70% {
    margin-left: -4250px; }

  72% {
    margin-left: -4500px; }

  74% {
    margin-left: -4500px; }

  76% {
    margin-left: -4750px; }

  78% {
    margin-left: -4750px; }

  80% {
    margin-left: -5000px; }

  82% {
    margin-left: -5000px; }

  84% {
    margin-left: -5250px; }

  86% {
    margin-left: -5250px; }

  88% {
    margin-left: -5500px; }

  90% {
    margin-left: -5500px; }

  92% {
    margin-left: -5750px; }

  94% {
    margin-left: -5750px; }

  96% {
    margin-left: -6000px; }

  98% {
    margin-left: -6000px; }

  100% {
    margin-left: -6250px; } }

@keyframes moveLeft {
  0% {
    margin-left: 0; }

  2% {
    margin-left: 0; }

  4% {
    margin-left: -250px; }

  6% {
    margin-left: -250px; }

  8% {
    margin-left: -500px; }

  10% {
    margin-left: -500px; }

  12% {
    margin-left: -750px; }

  14% {
    margin-left: -750px; }

  16% {
    margin-left: -1000px; }

  18% {
    margin-left: -1000px; }

  20% {
    margin-left: -1250px; }

  22% {
    margin-left: -1250px; }

  24% {
    margin-left: -1500px; }

  26% {
    margin-left: -1500px; }

  28% {
    margin-left: -1750px; }

  30% {
    margin-left: -1750px; }

  32% {
    margin-left: -2000px; }

  34% {
    margin-left: -2000px; }

  36% {
    margin-left: -2250px; }

  38% {
    margin-left: -2250px; }

  40% {
    margin-left: -2500px; }

  42% {
    margin-left: -2500px; }

  44% {
    margin-left: -2750px; }

  46% {
    margin-left: -2750px; }

  48% {
    margin-left: -3000px; }

  50% {
    margin-left: -3000px; }

  52% {
    margin-left: -3250px; }

  54% {
    margin-left: -3250px; }

  56% {
    margin-left: -3500px; }

  58% {
    margin-left: -3500px; }

  60% {
    margin-left: -3750px; }

  62% {
    margin-left: -3750px; }

  64% {
    margin-left: -4000px; }

  66% {
    margin-left: -4000px; }

  68% {
    margin-left: -4250px; }

  70% {
    margin-left: -4250px; }

  72% {
    margin-left: -4500px; }

  74% {
    margin-left: -4500px; }

  76% {
    margin-left: -4750px; }

  78% {
    margin-left: -4750px; }

  80% {
    margin-left: -5000px; }

  82% {
    margin-left: -5000px; }

  84% {
    margin-left: -5250px; }

  86% {
    margin-left: -5250px; }

  88% {
    margin-left: -5500px; }

  90% {
    margin-left: -5500px; }

  92% {
    margin-left: -5750px; }

  94% {
    margin-left: -5750px; }

  96% {
    margin-left: -6000px; }

  98% {
    margin-left: -6000px; }

  100% {
    margin-left: -6250px; } }

.the-sessions article {
  position: relative;
  float: left;
  width: 15em;
  height: 9em;
  margin: 0 0.5em;
  color: #ddd;
  background: #fff;
  border-radius: 10px;
  text-shadow: 2px 2px #111;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.5);
  -webkit-animation: rotate 4s infinite;
  animation: rotate 4s infinite; }

.the-sessions article:nth-child(odd) {
  -webkit-animation: rotate 4s -2s infinite;
  animation: rotate 4s -2s infinite;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0); }

  25% {
    -webkit-transform: rotate(90deg); }

  50% {
    -webkit-transform: rotate(90deg); }

  75% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(0deg); } }

@keyframes rotate {
  0% {
    transform: rotate(0); }

  25% {
    transform: rotate(90deg); }

  50% {
    transform: rotate(90deg); }

  75% {
    transform: rotate(0deg); }

  100% {
    transform: rotate(0deg); } }

.the-sessions article:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 2.5%;
  width: 0.5em;
  height: 0.5em;
  margin-top: -0.25em;
  background: #999;
  border-radius: 100%; }

.the-sessions article:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 2%;
  width: 1em;
  height: 1em;
  margin-top: -0.7em;
  background: #fff;
  border: 2px solid #999;
  border-radius: 100%; }

.the-sessions h1 {
  position: absolute;
  top: 8px;
  left: 10%;
  width: 78.333%;
  height: 88.108%;
  line-height: 1.15em;
  font-size: 6em;
  text-align: center;
  background: #252525; }

.the-sessions code {
  position: absolute;
  bottom: 1.5em;
  left: 0;
  width: 100%;
  color: #FF4FA7;
  text-shadow: 1px 1px 2px #111;
  text-align: center; }

.the-description {
  clear: both;
  color: #fff;
  margin: 0.5em auto;
  font-size: 1.25em; }

.the-description-sessions {
  margin: 2em auto;
  padding: 0;
  list-style: none;
  text-align: center;
  line-height: 0.875em; }
  @media screen and (max-width: 670px) {
    .the-description-sessions {
      display: none; } }
  .the-description-sessions li {
    display: inline;
    margin: 0 0.25em;
    color: #999;
    font-size: 0.7em; }
    @media screen and (max-width: 840px) {
      .the-description-sessions li {
        font-size: 0.9em;
        line-height: 1.5; } }

.the-form {
  max-width: 90%;
  margin: 3.5em auto 0; }
  @media screen and (max-width: 840px) {
    .the-form {
      margin-top: 10em; } }
  @media screen and (max-width: 670px) {
    .the-form {
      display: none; } }
  .the-form h2 {
    font-size: 2em;
    margin-bottom: 1.5em;
    font-weight: normal; }

.the-form-sidebar {
  display: none;
  max-width: 100%;
  margin: 2em auto; }
  @media screen and (max-width: 670px) {
    .the-form-sidebar {
      display: block; } }

.the-form label,
.the-form p {
  display: block;
  margin: 0.5em 0; }

.the-form input[type="email"] {
  width: 16em;
  max-width: 100%;
  margin: 0 0 0.5em;
  padding: 0.5em 1em;
  color: #666;
  font-size: 1em;
  background: #eee;
  border: 0;
  box-shadow: inset 0.2em 0.2em 0.25em rgba(0, 0, 0, 0.2);
  border-radius: 10px; }

.the-form input[type="email"]:focus {
  outline: 0; }

.the-form input[type="submit"] {
  padding: 0.5em 1em;
  color: #eee;
  font-size: 1em;
  color: #fff;
  background: #770e43;
  border: 1px solid #a10955;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .the-sidebar .the-form input[type="submit"] {
    border-color: #222; }

.the-form input[type="submit"]:hover {
  color: #f39;
  background: #fff; }

.the-banner {
  position: absolute;
  top: 3.5em;
  right: -5em;
  width: 20em;
  padding: 0.5em;
  font-size: 1em;
  font-weight: normal;
  color: #fff;
  background: #770e43;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.the-footer {
  position: absolute;
  bottom: 2em;
  color: #ccc;
  font-size: 0.75em; }
  @media screen and (max-width: 670px) {
    .the-footer {
      position: static;
      margin-bottom: 2em; } }

.the-tweet-buttons {
  margin-top: 1em; }

#twitter-widget-0 {
  width: 85px !important; }
