* {
	margin:0;
	padding:0;
	-moz-box-sizing:border-box;
	     box-sizing:border-box;
}

body {
	position:absolute;
	top:0;
	left:0;

	width:100%;
	height:100%;

	color:#fff;
	background:#000;

	font-size:20px;
	font-family:'Avenir', 'Helvetica', 'Arial', sans-serif;
	text-align:center;

	@media screen and (max-width:840px) {
		font-size:0.975em;
	}
}
a {
	color:#999;
	-webkit-transition:0.3s;
	        transition:0.3s;
}
a:hover {
	color:#eee;
}
body:before {
	content:"";
	display:inline-block;
	height:100%;
	vertical-align:middle;
}

.the-sidebar {
	position:absolute;
	top:0;
	left:0;

	width:20em;
	height:100%;
	padding:2em;
	background:rgba(37,37,37,0.975);
	border:19px solid #333;
	border-right:0;

	z-index:10;
}
.the-sessions-container {
	position:absolute;
	top:0;
	left:0;

	width:100%;
	height:100%;
	padding-left:20em;

	background:#BE2672;
	border:20px solid #90265b;
	border-left:0;

	overflow:hidden;
	text-align:center;
	z-index:0;
}

.the-logo {
	position:relative;
	left:-0.1em;
	display:inline-block;
	margin:0 auto 0.5em;

	color:#fff;
	text-shadow:
	hsl(0, 0%, 45%) 1px 1px,
	hsl(0, 0%, 45%) 2px 2px,
	hsl(0, 0%, 45%) 3px 3px,
	hsl(0, 0%, 45%) 4px 4px,
	hsl(0, 0%, 45%) 5px 5px,
	hsl(0, 0%, 45%) 6px 6px,
	hsl(0, 0%, 45%) 7px 7px,
	hsl(0, 0%, 45%) 8px 8px,
	hsl(0, 0%, 45%) 9px 9px,
	hsl(0, 0%, 45%) 10px 10px,
	hsl(0, 0%, 45%) 11px 11px,
	hsl(0, 0%, 45%) 12px 12px,
	hsl(0, 0%, 45%) 13px 13px,
	hsl(0, 0%, 45%) 14px 14px,
	hsl(0, 0%, 45%) 15px 15px,
	hsl(0, 0%, 45%) 16px 16px,
	hsl(0, 0%, 40%) 17px 17px,
	hsl(0, 0%, 40%) 18px 18px,
	hsl(0, 0%, 35%) 19px 19px,
	hsl(0, 0%, 35%) 20px 20px,
	hsl(0, 0%, 30%) 21px 21px,
	hsl(0, 0%, 30%) 22px 22px,
	hsl(0, 0%, 25%) 23px 23px,
	hsl(0, 0%, 25%) 24px 24px,
	hsl(0, 0%, 20%) 25px 25px,
	hsl(0, 0%, 20%) 26px 26px;

	font-size:5em;
	font-family:monospace;
	line-height:0.6em;
}
.the-logo:before {
	content:"{";
	position:absolute;
	top:0.3em;
	right:100%;
	margin:0;
	font-size:1em;
	font-weight:normal;
	z-index:-1;
}
.the-logo:after {
	content:"}";
	position:absolute;
	top:0.3em;
	left:100%;
	margin:0;
	font-size:1em;
	font-weight:normal;
}
.the-logo span { font-size:0.5em; }
.the-logo b {
	display:block;
	margin:0;

	color: #ffcce6;
	text-shadow:
	hsl(330, 66%, 45%) 1px 1px,
	hsl(330, 66%, 45%) 2px 2px,
	hsl(330, 66%, 45%) 3px 3px,
	hsl(330, 66%, 45%) 4px 4px,
	hsl(330, 66%, 45%) 5px 5px,
	hsl(330, 66%, 45%) 6px 6px,
	hsl(330, 66%, 45%) 7px 7px,
	hsl(330, 66%, 45%) 8px 8px,
	hsl(330, 66%, 45%) 9px 9px,
	hsl(330, 66%, 45%) 10px 10px,
	hsl(330, 66%, 45%) 11px 11px,
	hsl(330, 66%, 45%) 12px 12px,
	hsl(330, 66%, 45%) 13px 13px,
	hsl(330, 66%, 45%) 14px 14px,
	hsl(330, 66%, 45%) 15px 15px,
	hsl(330, 66%, 45%) 16px 16px,
	hsl(330, 66%, 40%) 17px 17px,
	hsl(330, 66%, 40%) 18px 18px,
	hsl(330, 66%, 35%) 19px 19px,
	hsl(330, 66%, 35%) 20px 20px,
	hsl(330, 66%, 30%) 21px 21px,
	hsl(330, 66%, 30%) 22px 22px,
	hsl(330, 66%, 25%) 23px 23px,
	hsl(330, 66%, 25%) 24px 24px,
	hsl(330, 66%, 20%) 25px 25px,
	hsl(330, 66%, 20%) 26px 26px;
	font-size:0.6em;
}

.the-sessions {
	width:10000px;
	margin:0;
	padding:6em 0;

	font-size:16px;

	-webkit-animation: moveLeft 50s infinite alternate;

	overflow:hidden;
}
@-webkit-keyframes moveLeft {
	0% { margin-left:0; }
	2% { margin-left:0; }
	4% { margin-left:-250px; }
	6% { margin-left:-250px; }
	8% { margin-left:-500px; }
	10% { margin-left:-500px; }
	12% { margin-left:-750px; }
	14% { margin-left:-750px; }
	16% { margin-left:-1000px; }
	18% { margin-left:-1000px; }
	20% { margin-left:-1250px; }
	22% { margin-left:-1250px; }
	24% { margin-left:-1500px; }
	26% { margin-left:-1500px; }
	28% { margin-left:-1750px; }
	30% { margin-left:-1750px; }
	32% { margin-left:-2000px; }
	34% { margin-left:-2000px; }
	36% { margin-left:-2250px; }
	38% { margin-left:-2250px; }
	40% { margin-left:-2500px; }
	42% { margin-left:-2500px; }
	44% { margin-left:-2750px; }
	46% { margin-left:-2750px; }
	48% { margin-left:-3000px; }
	50% { margin-left:-3000px; }
	52% { margin-left:-3250px; }
	54% { margin-left:-3250px; }
	56% { margin-left:-3500px; }
	58% { margin-left:-3500px; }
	60% { margin-left:-3750px; }
	62% { margin-left:-3750px; }
	64% { margin-left:-4000px; }
	66% { margin-left:-4000px; }
	68% { margin-left:-4250px; }
	70% { margin-left:-4250px; }
	72% { margin-left:-4500px; }
	74% { margin-left:-4500px; }
	76% { margin-left:-4750px; }
	78% { margin-left:-4750px; }
	80% { margin-left:-5000px; }
	82% { margin-left:-5000px; }
	84% { margin-left:-5250px; }
	86% { margin-left:-5250px; }
	88% { margin-left:-5500px; }
	90% { margin-left:-5500px; }
	92% { margin-left:-5750px; }
	94% { margin-left:-5750px; }
	96% { margin-left:-6000px; }
	98% { margin-left:-6000px; }
	100% { margin-left:-6250px; }
}
.the-sessions article {
	position:relative;
	float:left;
	width:15em;
	height:9em;
	margin:0 0.5em;

	color:#ddd;
	background:#fff;
	border-radius:10px;
	text-shadow:2px 2px #111;
	box-shadow:0 0 1.5em rgba(0,0,0,0.5);

	-webkit-animation:rotate 4s infinite;
}
.the-sessions article:nth-child(odd) {
	-webkit-animation:rotate 4s -2s infinite;
	-webkit-transform:rotate(90deg);
}

@-webkit-keyframes rotate {
	0% { -webkit-transform:rotate(0); }
	25% { -webkit-transform:rotate(90deg); }
	50% { -webkit-transform:rotate(90deg); }
	75% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(0deg); }
}

.the-sessions article:before {
	content:"";
	position:absolute;
	top:50%;
	left:2.5%;
	width:0.5em;
	height:0.5em;
	margin-top:-0.25em;
	background:#999;
	border-radius:100%;
}
.the-sessions article:after {
	content:"";
	position:absolute;
	top:50%;
	right:2%;
	width:1em;
	height:1em;
	margin-top:-0.7em;
	background:#fff;
	border:2px solid #999;
	border-radius:100%;
}
.the-sessions h1 {
	position:absolute;
	top:8px;
	left:10%;
	width:78.333%;
	height:88.108%;
	line-height:1.15em;
	font-size:6em;
	text-align:center;
	background:#252525;
}
.the-sessions code {
	position:absolute;
	bottom:1.5em;
	left:0;

	width:100%;
	color:#FF4FA7;
	text-shadow:1px 1px 2px #111;
	text-align:center;
}

.the-description {
	clear:both;
	color:#fff;
	margin:0.5em auto;
	font-size:1.25em;
}
.the-description-sessions {
	margin:2em auto;
	padding:0;
	list-style:none;
	text-align:center;
	line-height:0.875em;
	li {
		display:inline;
		margin:0 0.25em;

		color:#999;
		font-size:0.7em;
	}
}
.the-form {
	max-width:90%;
	margin:12em auto 0;

	@media screen and (max-width:840px) {
		margin-top:10em;
	}
}
.the-form label,
.the-form p {
	display:block;
	margin:0.5em 0;
}
.the-form input[type="email"] {
	width:16em;
	max-width:100%;
	margin:0 0 0.5em;
	padding:0.5em 1em;

	color:#666;
	font-size:1em;

	background:#eee;
	border:0;
	box-shadow:inset 0.2em 0.2em 0.25em rgba(0,0,0,0.2);
	border-radius:10px;
}
.the-form input[type="email"]:focus {
	outline:0;
}
.the-form input[type="submit"] {
	padding:0.5em 1em;

	color:#eee;
	font-size:1em;
	color: #fff;
	background:#770e43;
	border:1px solid #a10955;
	border-radius:10px;

	cursor:pointer;
	-webkit-appearance:none;
	   -moz-appearance:none;
	        appearance:none;
	-webkit-transition:0.3s;
	        transition:0.3s;
}
.the-form input[type="submit"]:hover {
	color:#f39;
	background: #fff;
}
.the-footer {
	position:absolute;
	bottom:2em;

	color:#ccc;
	font-size:0.75em;
}
