---
layout: default
title: Blog
permalink: /blog/
---

<div class="site-container-inner">

	<h1 class="page-title">CSS Tips Blog</h1>
	<p>Here's a handful of extra #csstips to accompany the first series of AtoZ screencast videos.
	If you have any tips of your own, <a href="http://www.twitter.com/atozcss">shoot me a tweet</a>
	and you could potentially have them featured here too!</p>

	<ul class="blogs">
		{% for post in site.categories['blog'] reversed %}

			<li>
				{% include blog-post.html %}
			</li>

		{% endfor %}
	</ul>


</div>
