---
layout: default
title: Blog
permalink: /blog/
---

<div class="site-container-inner">

	<h1 class="page-title">AtoZ CSS Blog</h1>
	<p><strong>Tips, tricks and articles about CSS, Sass, web design and web development.</strong></p>
	<p>If you'd like to write for AtoZ or publish a guest post, please <a href="mailto:mail@guyroutledge.co.uk?subject=Writing%20for%20AtoZ%20CSS">get in touch</a>.</p>

	<ul class="blogs">
		{% for post in site.categories['blog'] %}

			<li>
				{% include blog-post.html %}
			</li>

		{% endfor %}
	</ul>


</div>
