---
layout: default
title: Home
---

<section class="episode-featured">

	<div class="site-container-inner">
		<h1 class="home-title">This Week&rsquo;s Episode</h1>
		{% for post in site.posts | limit: 1 %}
			<p class="episode-meta">Posted on: {{ post.date | date: "%d %B %Y" }} </p>
		{% endfor %}
	</div>

	{% for post in site.posts | limit: 1 %}

		{% include video.html %}

		<div class="site-container-inner">
			{% include archive-post.html %}
			{% if post.comments %}
				<div id="disqus_thread" class="episode-comments"></div>
				<script type="text/javascript">
					var disqus_shortname = '{{ site.disqusName }}';
					var disqus_identifier = '{{ post.wistiaId }}';
					(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
			{% endif %}
		</div>

	{% endfor %}

</section>

<div class="site-container-inner">
	{% include git-tip.html %}

	{% include episodes-list.html %}
</div>
