---
layout: default
title: Home
---

<div class="site-container-inner">

	<div class="css-intro">
		<h1>CSS Screencasts for Designers & Developers</h1>

		<p>Inside you’ll find bite-sized videos covering everything from CSS fundamentals
		to some of the more weird and wonderful topics. Get started below to check out
		the most popular screencasts from season 1, all categorised by level
		of difficulty.</p>

		<a href="/start-here/" class="button start-here">Get Started Here!</a>
	</div>

</div>

{% include latest-posts.html %}

<div class="site-container-inner">

	<div id="css-news" class="tips-banner">
		<h2>Weekly CSS News</h2>
		<p>Get the week’s hottest news and links straight to your inbox. In every newsletter you’ll find:</p>
		<ul>
			<li>Details of the latest videos, articles, books and courses published on AtoZ CSS.</li>
			<li>A curated list of blog posts, articles, tools and resources from around the web.</li>
			<li>Industry news, conference and event information.</li>
		</ul>
	</div>

	<section class="subscribe">
		<div class="site-container-inner">
			{% include form.html %}
		</div>
	</section>

	<div class="book-buy">
		<h2>Dive deeper into CSS with AtoZ Books</h2>

		<p>Blog posts and screencasts are great for quick learning and keeping up to date with what's happening
		in the industry but they can only go into so much detail.</p>

		<p>For more in depth learning, check out <a href="/books">AtoZ CSS Books</a>.</p>

		<p>Need to start using Sass but
		not sure where or how to start? Grab a copy of <a href="/books/up-and-running-with-sass">Up and Running with Sass</a>
		for a practical step-by-step introduction to this powerful preprocessor.</p>

		<p>Want to improve your understanding of document flow and create all manner of modern layouts with CSS?
		Learn the fundamental building blocks of CSS layout; inline elements, block elements, how the cascade works,
		all about float, inline-block and CSS positioning in the <a href="/books/css-layout-and-document-flow">CSS Layout and
		Document Flow</a> book. There's a whole practical section which steps
		through the process of writing the CSS for a whole website and then a final section all about CSS of
		the future - flexbox and the new grid layout&nbsp;spec.</p>

		<p>If you prefer watching to reading, there’s also a 90-minute video series to accompany the practical
		section of the book. How handy is&nbsp;that?</p>

		<p>You can <a href="/books/css-layout-and-document-flow">check out screenshots from the book</a> and <a href="/books/css-layout-and-document-flow">watch a sample video</a>
		before checking out with Stripe.</p>
	</div>

	<div class="sass-teaser">
		<h2>AtoZ Season&nbsp;2: AtoZ Sass</h2>
		<p>The 2nd season of AtoZ CSS screencasts is all about the CSS preprocessor, Sass.</p>
		<p>You'll find a new video released each week covering a new Sass topic; one for each letter of the alphabet.</p>
		<p>If you're new to Sass then I highly recommend you check out my getting started ebook <a href="/books/up-and-running-with-sass">Up and Running with Sass</a> for a practical guide to preprocessing fundamentals with Sass.</p>
	</div>

	{% include twitter-follow.html %}

</div>
