---
layout: default
title: Start Here
permalink: /start-here/
---

<section class="episode-featured">

	<div class="site-container-inner">
		<h1 class="page-title">New to AtoZ CSS?</h1>
		<p>Welcome!!  You've come to the right place to join the CSS (and SASS) party.</p>
		<p>This site will help you learn CSS (and SASS) and sharpen your front-end skills with these bite-sized video screencasts.</p>
		<p>Start with AtoZ CSS Season 1, pick your level and progress through each of the relevant episodes.</p>
		<p>Alternatively, if you'd prefer to consume the episodes as part of a guided course, sign up here to have lessons sent straight to your inbox:</p>

		<section class="subscribe">
			<div class="site-container-inner">
				{% include email-course-form.html %}
			</div>
		</section>

	</div>

		<h1 class="category-title">CSS Beginner</h1>

		<div class="video-gallery">
			{% for post in site.categories.beginner reversed | limit: 3 %}
				{% include gallery-item.html %}
			{% endfor %}
		</div>

		<h1 class="category-title">CSS Intermediate</h1>
		<div class="video-gallery">
			{% for post in site.categories.intermediate reversed | limit: 3 %}
				{% include gallery-item.html %}
			{% endfor %}
		</div>

		<h1 class="category-title">CSS Advanced</h1>
		<div class="video-gallery">
			{% for post in site.categories.advanced reversed | limit: 3 %}
				{% include gallery-item.html %}
			{% endfor %}
		</div>

</section>

<div class="site-container-inner">

	{% include episodes-list.html %}
</div>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>