---
layout: default
title: Start Here
permalink: /start-here/
---

<section class="episode-featured">

	<div class="site-container-inner">
		<h1 class="page-title">New round here?</h1>
		<p>Welcome! You’ve come to the right place to join the CSS party. The videos below are a
		great place to get started and will help you learn CSS or sharpen your front-end skills, whatever
		your current level of experience.</p>
		<p>The original series took a different CSS property, value, selector or concept for each letter of
		the alphabet. But here, the videos are categorised by difficulty so you can pick the level
		that’s right for you.</p>
		<!--
		<p>Alternatively, if you'd prefer to consume the episodes as part of a guided course, sign up here to have lessons sent straight to your inbox:</p>

		<section class="subscribe">
			<div class="site-container-inner">
				{#% include email-course-form.html %}
			</div>
		</section>
		-->
	</div>

		<h1 class="category-title">CSS Beginner</h1>

		<div class="video-gallery">
			{% for post in site.categories.beginner reversed %}
				{% include gallery-item.html %}
			{% endfor %}
		</div>

		<h1 class="category-title">CSS Intermediate</h1>
		<div class="video-gallery">
			{% for post in site.categories.intermediate reversed %}
				{% include gallery-item.html %}
			{% endfor %}
		</div>

		<h1 class="category-title">CSS Advanced</h1>
		<div class="video-gallery">
			{% for post in site.categories.advanced reversed %}
				{% include gallery-item.html %}
			{% endfor %}
		</div>

</section>

<div class="site-container-inner">
	<h2>Need more?</h2>
	<p>Below is the full list of all the episodes from the first 26-part series. If you're interested to find out how these videos
	are made, I’ve got your back there too with a special <a href="/behind-the-scenes">Behind the Scenes</a> episode!
	{% include episodes-list.html %}
</div>
<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js"></script>
