---
layout: default
title: All CSS Videos
permalink: /videos/index.html
---

<div class="site-container-inner">

	<h1>AtoZ Sass</h1>

	<p>The 2nd season of AtoZ CSS screencasts is all about the CSS
	preprocessor, Sass.  You'll find a new video released each week
	covering a new Sass topic; one for each letter of the alphabet.</p>

	<p>If you're new to Sass then I highly recommend you check out my
	getting started ebook <a href="/books/up-and-running-with-sass">Up
	and Running with Sass</a> for a practical guide to preprocessing
	fundamentals with Sass.</p>

	<ul class="episodes">
		{% for post in site.categories['video'] %}
			{% if post.series == 'atoz-sass' %}

				<li>
					{% include archive-post.html %}
				</li>

			{% endif %}
		{% endfor %}
	</ul>

	<h1>AtoZ CSS</h1>
	<ul class="episodes">
		{% for post in site.categories['video'] %}
			{% if post.series == 'atoz-css' %}

				<li>
					{% include archive-post.html %}
				</li>

			{% endif %}
		{% endfor %}
	</ul>

	{% include episodes-list.html %}

</div>
