---
layout: default
title: All CSS Videos
permalink: /videos/index.html
---

<div class="site-container-inner">

	<h1>AtoZ Sass</h1>
	<ul class="episodes">
		{% for post in site.categories['video'] %}
			{% if post.series == 'atoz-sass' %}

				<li>
					{% include archive-post.html %}
				</li>

			{% endif %}
		{% endfor %}
	</ul>

	<h1>AtoZ CSS</h1>
	<ul class="episodes">
		{% for post in site.categories['video'] %}
			{% if post.series == 'atoz-css' %}

				<li>
					{% include archive-post.html %}
				</li>

			{% endif %}
		{% endfor %}
	</ul>

	{% include episodes-list.html %}

</div>
