@mixin translateX($amount) {
	-webkit-transform:translateX($amount);
	        transform:translateX($amount);
}
.the-sessions-wrap {
	position:relative;
	width:100%;
	padding-bottom:4rem;
	background:#222;
	overflow:hidden;
	z-index:20;
}
.the-sessions {
	width:10000px;
	margin:0;
	padding:6em 0;

	-webkit-animation: moveLeft 50s infinite alternate;
	        animation: moveLeft 50s infinite alternate;

	overflow:hidden;
}
@-webkit-keyframes moveLeft {
	0% { @include translateX(0); }
	2% { @include translateX(0); }
	4% { @include translateX(-250px); }
	6% { @include translateX(-250px); }
	8% { @include translateX(-500px); }
	10% { @include translateX(-500px); }
	12% { @include translateX(-750px); }
	14% { @include translateX(-750px); }
	16% { @include translateX(-1000px); }
	18% { @include translateX(-1000px); }
	20% { @include translateX(-1250px); }
	22% { @include translateX(-1250px); }
	24% { @include translateX(-1500px); }
	26% { @include translateX(-1500px); }
	28% { @include translateX(-1750px); }
	30% { @include translateX(-1750px); }
	32% { @include translateX(-2000px); }
	34% { @include translateX(-2000px); }
	36% { @include translateX(-2250px); }
	38% { @include translateX(-2250px); }
	40% { @include translateX(-2500px); }
	42% { @include translateX(-2500px); }
	44% { @include translateX(-2750px); }
	46% { @include translateX(-2750px); }
	48% { @include translateX(-3000px); }
	50% { @include translateX(-3000px); }
	52% { @include translateX(-3250px); }
	54% { @include translateX(-3250px); }
	56% { @include translateX(-3500px); }
	58% { @include translateX(-3500px); }
	60% { @include translateX(-3750px); }
	62% { @include translateX(-3750px); }
	64% { @include translateX(-4000px); }
	66% { @include translateX(-4000px); }
	68% { @include translateX(-4250px); }
	70% { @include translateX(-4250px); }
	72% { @include translateX(-4500px); }
	74% { @include translateX(-4500px); }
	76% { @include translateX(-4750px); }
	78% { @include translateX(-4750px); }
	80% { @include translateX(-5000px); }
	82% { @include translateX(-5000px); }
	84% { @include translateX(-5250px); }
	86% { @include translateX(-5250px); }
	88% { @include translateX(-5500px); }
	90% { @include translateX(-5500px); }
	92% { @include translateX(-5750px); }
	94% { @include translateX(-5750px); }
	96% { @include translateX(-6000px); }
	98% { @include translateX(-6000px); }
	100% { @include translateX(-6250px); }
}
@keyframes moveLeft {
	0% { @include translateX(0); }
	2% { @include translateX(0); }
	4% { @include translateX(-250px); }
	6% { @include translateX(-250px); }
	8% { @include translateX(-500px); }
	10% { @include translateX(-500px); }
	12% { @include translateX(-750px); }
	14% { @include translateX(-750px); }
	16% { @include translateX(-1000px); }
	18% { @include translateX(-1000px); }
	20% { @include translateX(-1250px); }
	22% { @include translateX(-1250px); }
	24% { @include translateX(-1500px); }
	26% { @include translateX(-1500px); }
	28% { @include translateX(-1750px); }
	30% { @include translateX(-1750px); }
	32% { @include translateX(-2000px); }
	34% { @include translateX(-2000px); }
	36% { @include translateX(-2250px); }
	38% { @include translateX(-2250px); }
	40% { @include translateX(-2500px); }
	42% { @include translateX(-2500px); }
	44% { @include translateX(-2750px); }
	46% { @include translateX(-2750px); }
	48% { @include translateX(-3000px); }
	50% { @include translateX(-3000px); }
	52% { @include translateX(-3250px); }
	54% { @include translateX(-3250px); }
	56% { @include translateX(-3500px); }
	58% { @include translateX(-3500px); }
	60% { @include translateX(-3750px); }
	62% { @include translateX(-3750px); }
	64% { @include translateX(-4000px); }
	66% { @include translateX(-4000px); }
	68% { @include translateX(-4250px); }
	70% { @include translateX(-4250px); }
	72% { @include translateX(-4500px); }
	74% { @include translateX(-4500px); }
	76% { @include translateX(-4750px); }
	78% { @include translateX(-4750px); }
	80% { @include translateX(-5000px); }
	82% { @include translateX(-5000px); }
	84% { @include translateX(-5250px); }
	86% { @include translateX(-5250px); }
	88% { @include translateX(-5500px); }
	90% { @include translateX(-5500px); }
	92% { @include translateX(-5750px); }
	94% { @include translateX(-5750px); }
	96% { @include translateX(-6000px); }
	98% { @include translateX(-6000px); }
	100% { @include translateX(-6250px); }
}
.the-sessions article {
	position:relative;
	float:left;
	width:15em;
	height:9em;
	margin:0 0.5em;

	color:#fff;
	background:#fff;
	border-radius:10px;
	text-shadow:2px 2px #000;
	box-shadow:0 0 1.5em rgba(0,0,0,0.5);

	-webkit-animation:rotate 4s infinite;
	        animation:rotate 4s infinite;
}
.the-sessions article:nth-child(odd) {
	-webkit-animation:rotate 4s -2s infinite;
	        animation:rotate 4s -2s infinite;
	-webkit-transform:rotate(90deg);
	        transform:rotate(90deg);
}

@-webkit-keyframes rotate {
	0% { -webkit-transform:rotate(0); }
	25% { -webkit-transform:rotate(90deg); }
	50% { -webkit-transform:rotate(90deg); }
	75% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(0deg); }
}
@keyframes rotate {
	0% { transform:rotate(0); }
	25% { transform:rotate(90deg); }
	50% { transform:rotate(90deg); }
	75% { transform:rotate(0deg); }
	100% { transform:rotate(0deg); }
}

.the-sessions article:before {
	content:"";
	position:absolute;
	top:50%;
	left:2.5%;
	width:0.5em;
	height:0.5em;
	margin-top:-0.25em;
	background:#999;
	border-radius:100%;
}
.the-sessions article:after {
	content:"";
	position:absolute;
	top:50%;
	right:2%;
	width:1em;
	height:1em;
	margin-top:-0.7em;
	background:#fff;
	border:2px solid #999;
	border-radius:100%;
}
.the-sessions h1 {
	position:absolute;
	top:8px;
	left:10%;
	width:78.333%;
	height:88.108%;
	line-height:1.15em;
	font-size:6em;
	text-align:center;
	background:#252525;
}
.the-sessions code {
	position:absolute;
	bottom:1.5em;
	left:0;

	width:100%;
	color:$color-pink;
	text-shadow:1px 1px 2px #111;
	text-align:center;
}

