//*************************
// $$ 3D Book
//**************************

$book-width:250px;
$book-height:350px;

.book__container {
	position: absolute;
	top: 675px;
	left: -120px;
	z-index: 10;

	perspective:1800px;

	transition:opacity 0.3s ease;
	opacity:0;

	@media screen and (min-width:66.875em) {
		opacity:1;
	}

	h2:first-child {
		font-size:3rem;
	}
}
.book__container--single {
	position:relative;
	float:left;
	margin-right:2rem;
	perspective:1800px;
	z-index: 10;
}

.book {
	position:relative;
	width:$book-width;
	height:$book-height;

	transition: transform .5s;
	transform-style: preserve-3d;
	backface-visibility:hidden;

	&.is-rotated,
	&:hover {
		transform:rotate3d(0, 1, 0, 45deg);
	}
}
.book__cover,
.book__spine {
	background:$color-brand;
	backface-visibility:hidden;
	transform-style: preserve-3d;
}

.book__cover {
	position:absolute;
	top:0;
	left:0;
	width:$book-width;
	height:100%;
	transform:translateZ(20px);

	h1 {
		position:absolute;
		bottom:10px;
		right:20px;
		width:200px;

		color:#000;
		font-size:4rem;
		line-height:1;
		text-align:right;
	}
	span {
		display:block;
		font-size:1.5rem;
		color:#fff;
	}
	&:after {
		content:"";
		position:absolute;
		left:5px;

		width:40px;
		height:$book-height;
		background:linear-gradient(to right, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 10%);
	}
}

.book__spine {
	position:absolute;
	left:-20px;
	width:40px;
	height:$book-height;

	transform:rotate3d(0, 1, 0, -90deg);

	p {
		width:$book-height;
		height:40px;
		margin:0;
		padding:0 2em;

		color:#fff;
		font-size:1.75rem;
		transform-origin:0 0;
		transform: rotate(90deg) translateY(-35px);
	}
	span {
		color:#000;
	}
	h2 {
		position:absolute;
		top:100%;
		margin:0;
		padding:0.5em 0;

		font-size:4rem;
		line-height:1;
	}
}

//*************************
// $$ Books Page
//**************************

.book-offer {
	@extend %clearfix;
	position:relative;
	margin:5rem 0;
}
.book-offer__price {
	position:absolute;
	top:-40px;
	left:-70px;

	width:100px;
	height:100px;

	color:$color-dark;
	text-align:center;
	font-size:4rem;
	line-height:100px;

	background:$color-orange;
	border-radius:100%;
}

.book__alert {
	padding:$font-margin-bottom $font-margin-bottom 0 $font-margin-bottom;
	color:$color-dark;
	background:#ccc;
	overflow:hidden;
}
