//*************************
// $$ Books Page
//**************************

.books-title,
.books-archive {
	text-align:center;
}
.books-archive {
	@extend %clearfix;
	margin:0 0 2rem;
	padding:0;
	list-style:none;

	li {
		float:left;
		width: 50%;
		padding:2rem;

		@media screen and (max-width:700px) {
			float:none;
			width:90%;
			margin:2rem auto;
		}
	}
	img {
		max-height:400px;
	}
}
.book-price {
	position:absolute;
	top:-40px;
	left:-70px;

	width:100px;
	height:100px;

	color:$color-dark;
	text-align:center;
	font-size:4rem;
	line-height:100px;

	background:$color-orange;
	border-radius:100%;
}

.book__alert {
	margin-bottom:7rem;
	padding:$font-margin-bottom $font-margin-bottom 0 $font-margin-bottom;
	color:$color-dark;
	background:#ccc;
	overflow:hidden;

	a,
	a:hover {
		color:$color-dark;
		text-decoration:underline;
	}
}
.book-img {
	margin:$font-margin-bottom 0;
}

.book-table {
	width:100%;
	margin:$font-margin-bottom*2 0 $font-margin-bottom;
}
.book-table-footer {
	margin-bottom:$font-margin-bottom*2;
}

//*************************
// $$ Single Book Page
//**************************




// Book on homepage

.book-buy {
	@extend %clearfix;
	margin: 5rem 0 3rem;
}
.book-offer-home {
	margin:4em 0 2em 1em;

	.book__container--single {
		float:none;
		margin-top:0;
		margin-right: -5em;
	}

	@media screen and (min-width:46.25em) {
		float: right;

		.book__container--single {
			margin-top: -3em;
		}
	}

}
