//*************************
// $$ Buttons
//**************************

.button {
	margin:0;
	padding:0.5em 1em;

	color:$color-dark;
	font-size:2rem;
	font-weight:400;
	background:$color-blue;
	border:0;

	cursor:pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
			appearance:none;
	-webkit-transition:0.3s;
			transition:0.3s;

	&:hover {
		color:#fff;
		background: $color-brand;
	}
}
.button-container {
	overflow:hidden;
}
.button-subscribe {
	float:left;
	color:$color-dark;
	margin:$font-margin-bottom 0;
}
.button-books {
	@extend .button-subscribe;
	margin:$font-margin-bottom/2 0 0;
	background:$color-orange;
}
.button-books-sidebar {
	float:none;
}


