//*************************
// $$ Courses Archive
//**************************

$color-envato: #30997a;
$color-code-school: #21abc7;
$color-sitepoint: #9bd560;
$color-ga: #ff2734;

.course-atoz { background:$color-courses }
.course-ga { background:$color-ga }
.course-envato { background: $color-envato; }
.course-code-school { background: $color-code-school; }
.course-sitepoint { background:$color-sitepoint }

.page-courses .site-content {
	a { color:$color-courses; }
}
.courses-archive {
	@extend %clearfix;
	list-style:none;
	margin:0 -1rem 2rem;
	padding:0;

	li {
		float:left;
		width:33.333%;
		padding:1rem;

		@media screen and (max-width:650px) {
			float:none;
			width:100%;
		}
	}
	a {
		display:block;
		text-decoration:none;
	}
}
.course {
	position:relative;
	min-height:12em;
	padding:2rem;

	&:nth-child(3n) { clear:both; }

	h1 {
		margin:0;
		color:#fff;
		font-size:2.5rem;
		line-height:1.3;
	}
	p,
	small {
		color:#fff;
	}
	small {
		position:absolute;
		bottom:2rem;
		left:2rem;
	}
}
