.subscribe {
	position:relative;
	background:#000;
	z-index:20;
}
.subscribe-form {
	margin:0 auto 0;

	form {
		@extend %container;
		padding-top:2rem;
		padding-bottom:2rem;
	}

	label,
	p {
		display:block;
		margin:2rem 0;
	}
	input[type="email"] {
		width:16em;
		max-width:100%;
		margin:0;
		padding:0.5em 1em;

		color:#333;

		background:#eee;
		border:0;
		box-shadow:inset 0.2em 0.2em 0.25em rgba(0,0,0,0.2);

		&:focus {
			outline:0;
		}
	}
}
