//*************************
// $$ Syntax Highlight
//**************************

.highlight {
	width:100%;
	margin:2rem 0;
	padding:0 2rem;

	font-size:1.5rem;

	background:$color-dark;
	border-radius:2px;

	pre {
		color:#fff;
		font-family:$font-code;
		white-space:pre;
		word-spacing: normal;
		word-wrap: normal;
		overflow-x:scroll;

		-webkit-tab-size:4;
		   -moz-tab-size:4;
		     -o-tab-size:4;
			    tab-size:4;
	}
}
h1, h2, h3, h4, h5, h6, p, li {
	code {
		display:inline-block;
		padding:0 0.25em;

		font-family:$font-code;
		font-size:0.875em;

		background:$color-light-grey;
		border:1px solid $color-border;
		border-radius:2px;
	}
}
.c                 { color: $color-medium-grey }              /* Comment                     */
.err               { color: darken($color-pink, 20%) }        /* Error                       */
.k                 { color: $color-blue }                     /* Keyword                     */
.l                 { color: $color-purple }                   /* Literal                     */
.n                 { color: #fff }                            /* Name                        */
.o                 { color: $color-pink }                     /* Operator                    */
.p                 { color: #fff }                            /* Punctuation                 */
.cm                { color: $color-medium-grey }              /* Comment.Multiline           */
.cp                { color: $color-medium-grey }              /* Comment.Preproc             */
.c1                { color: $color-medium-grey }              /* Comment.Single              */
.cs                { color: $color-medium-grey }              /* Comment.Special             */
.ge                { font-style: italic }                     /* Generic.Emph                */
.gs                { font-weight: bold }                      /* Generic.Strong              */
.kc                { color: $color-blue }                     /* Keyword.Constant            */
.kd                { color: $color-blue }                     /* Keyword.Declaration         */
.kn                { color: $color-pink }                     /* Keyword.Namespace           */
.kp                { color: $color-blue }                     /* Keyword.Pseudo              */
.kr                { color: $color-blue }                     /* Keyword.Reserved            */
.kt                { color: $color-blue }                     /* Keyword.Type                */
.ld                { color: $color-yellow }                   /* Literal.Date                */
.m                 { color: $color-purple }                   /* Literal.Number              */
.s                 { color: $color-yellow }                   /* Literal.String              */
.na                { color: $color-green }                    /* Name.Attribute              */
.nb                { color: #fff }                            /* Name.Builtin                */
.nc                { color: $color-green }                    /* Name.Class                  */
.no                { color: $color-blue }                     /* Name.Constant               */
.nd                { color: $color-green }                    /* Name.Decorator              */
.ni                { color: #fff }                            /* Name.Entity                 */
.ne                { color: $color-green }                    /* Name.Exception              */
.nf                { color: $color-green }                    /* Name.Function               */
.nl                { color: #fff }                            /* Name.Label                  */
.nn                { color: #fff }                            /* Name.Namespace              */
.nx                { color: $color-green }                    /* Name.Other                  */
.py                { color: #fff }                            /* Name.Property               */
.nt                { color: $color-pink }                     /* Name.Tag                    */
.nv                { color: #fff }                            /* Name.Variable               */
.ow                { color: $color-pink }                     /* Operator.Word               */
.w                 { color: #fff }                            /* Text.Whitespace             */
.mf                { color: $color-purple }                   /* Literal.Number.Float        */
.mh                { color: $color-purple }                   /* Literal.Number.Hex          */
.mi                { color: $color-purple }                   /* Literal.Number.Integer      */
.mo                { color: $color-purple }                   /* Literal.Number.Oct          */
.sb                { color: $color-yellow }                   /* Literal.String.Backtick     */
.sc                { color: $color-yellow }                   /* Literal.String.Char         */
.sd                { color: $color-yellow }                   /* Literal.String.Doc          */
.s2                { color: $color-yellow }                   /* Literal.String.Double       */
.se                { color: $color-purple }                   /* Literal.String.Escape       */
.sh                { color: $color-yellow }                   /* Literal.String.Heredoc      */
.si                { color: $color-yellow }                   /* Literal.String.Interpol     */
.sx                { color: $color-yellow }                   /* Literal.String.Other        */
.sr                { color: $color-yellow }                   /* Literal.String.Regex        */
.s1                { color: $color-yellow }                   /* Literal.String.Single       */
.ss                { color: $color-yellow }                   /* Literal.String.Symbol       */
.bp                { color: #fff }                            /* Name.Builtin.Pseudo         */
.vc                { color: #fff }                            /* Name.Variable.Class         */
.vg                { color: #fff }                            /* Name.Variable.Global        */
.vi                { color: #fff }                            /* Name.Variable.Instance      */
.il                { color: $color-purple }                   /* Literal.Number.Integer.Long */

