//*************************
// $$ Latest Posts
//**************************

.latest-posts {
	margin:2rem 0 4rem;
	color:#fff;

	@media screen and (min-width:800px) {
		display:flex;
		align-items:flex-end;
	}
}
.latest-post-title {
	@extend %h1;
	margin:2em 4rem 0;
	color:#fff;
	opacity:0.5;
}
@media screen and (min-width:800px) {
	.latest-video,
	.latest-article {
		width:50%;
	}
}
.latest-video {
	overflow:hidden;
	background:$color-brand;
}
.latest-article {
	overflow:hidden;
	background:$color-green;
}
.latest-post-content {
	padding:4rem;
	background:rgba( #000, 0.4 );

	h1 {
		@extend %h3;
		color:#fff;
	}
	a {
		color:inherit;
	}
}
