//*************************
// $$ Layout
//**************************

%container {
	margin-left:auto;
	margin-right:auto;
	padding-left:1rem;
	padding-right:1rem;

	@media screen and (min-width: 31.25em) {
		padding-left:2rem;
		padding-right:2rem;
	}
}
%container {
	position:relative;
	max-width:90rem;
}
.site-container-inner {
	@extend %container;
	max-width:60rem;
}

.site-header {
	margin-bottom:$font-margin-bottom * 2;
	text-align:center;
}
.site-content {
	@extend %container;
	margin-top:4rem;
	margin-bottom:4rem;
}
.site-footer {
	position:relative;
	padding:4rem;
	background:$color-brand;
	z-index:20;

	p {
		@extend %container;
		color:$color-dark;
		font-size:1.5rem;
	}
	a {
		color:$color-dark;

		&:hover {
			color:#fff;
		}
	}
	br {
		display:none;

		@media screen and (min-width:28.125em) {
			display:block;
		}
	}
}
.site-footer-tweet-buttons {
	margin:2rem 0 0;

	#twitter-widget-0 {
		width:125px!important;
	}
}

//*************************
// $$ Homepage
//**************************

.home-title {
	line-height:1.1;
}
.sass-teaser,
.css-intro {
	margin: 3em 0;
}

//*************************
// $$ About Page
//**************************

.about-equipment {
	margin:0 0 $font-margin-bottom 0;
	overflow:hidden;

	img {
		float:left;
		width:50%;
		border:1px solid #333;
	}
}

