//*************************
// $$ Layout
//**************************

.site-header {
	margin-bottom:$font-margin-bottom;
	text-align:center;
	border-bottom:1rem solid $color-brand;
}
.site-content {
	max-width:60rem;
	margin:4rem auto;
}
.site-footer {
	padding:2rem;
	background:$color-brand;
	text-align:center;

	p {
		margin:0;
		color:#000;
		font-size:1.5rem;
	}
	a {
		color:#000;

		&:hover {
			color:#fff;
		}
	}
}

