//*************************
// $$ Layout
//**************************

%container {
	max-width:60rem;
	margin-left:auto;
	margin-right:auto;
	padding-left:2rem;
	padding-right:2rem;
}
.site-header {
	margin-bottom:$font-margin-bottom;
	text-align:center;
	border-bottom:1rem solid $color-brand;
}
.site-content {
	@extend %container;
	margin-top:4rem;
	margin-bottom:4rem;
}
.site-footer {
	padding:4rem;
	background:$color-brand;

	p {
		@extend %container;
		color:#111;
		font-size:1.5rem;
	}
	a {
		color:#111;

		&:hover {
			color:#fff;
		}
	}
	br {
		display:none;

		@media screen and (min-width:28.125em) {
			display:block;
		}
	}
}
.site-footer-tweet-buttons {
	margin:2rem 0 0;

	#twitter-widget-0 {
		width:85px!important;
	}
}

//*************************
// $$ Homepage
//**************************

.home-title {
	line-height:1.1;
}

//*************************
// $$ About Page
//**************************

.about-equipment {
	margin:0 0 $font-margin-bottom 0;
	overflow:hidden;

	img {
		float:left;
		width:50%;
		border:1px solid #333;
	}
}

//*************************
// $$ Subscribe
//**************************

.subscribe-itunes {
	position:fixed;
	top:200px;
	left:50%;

	width:14rem;
	margin-left:-40rem;
	text-align:center;

	h2 {
		color:#fff;
		font-size:3rem;
		line-height:1em;
	}
}
.subscribe-itunes-img {
	float:left;
	width:90px;
	margin-right:2rem;
}

.subscribe-button-container {
	overflow:hidden;
}
.button-itunes {
	float:right;
	color:#333;
	margin:$font-margin-bottom 0;
}

