//*************************
// $$ Layout
//**************************

// Use a better box-model
* {
	box-sizing:border-box;
}

%container {
	margin-left:auto;
	margin-right:auto;
	padding-left:1rem;
	padding-right:1rem;

	@media screen and (min-width: 31.25em) {
		padding-left:2rem;
		padding-right:2rem;
	}
}
%container {
	position:relative;
	max-width:120rem;
}
.site-container-inner {
	@extend %container;
	max-width:60rem;
}

.site-header {
	margin-bottom:$font-margin-bottom * 2;
	text-align:center;
}
.site-content {
	@extend %container;
	margin-top:4rem;
	margin-bottom:4rem;
}
.site-footer {
	position:relative;
	padding:4rem 4rem 6rem;
	background:$color-brand;
	z-index:20;

	p {
		@extend %container;
		color:#fff;
		font-size:1.5rem;
	}
	a {
		color:inherit;

		&:hover {
			color:#fff;
		}
	}
	br {
		display:none;

		@media screen and (min-width:28.125em) {
			display:block;
		}
	}
}
.site-footer-tweet-buttons {
	margin:2rem 0 0;

	#twitter-widget-0 {
		width:125px!important;
	}
}

//*************************
// $$ Homepage
//**************************

.home-title {
	line-height:1.1;
}
.css-intro {
	margin: 5em 0;

	h1 { text-align:center; }
}

//*************************
// $$ About Page
//**************************

.about-image {
	float:left;
	margin:0 3rem 2rem -10rem;

	@media screen and (max-width:670px) {
		float:none;
		display:block;
		margin-left:0;
	}
}
.about-equipment {
	margin:0 0 $font-margin-bottom 0;
	overflow:hidden;

	img {
		float:left;
		width:50%;
		border:1px solid #333;
	}
}

//*************************
// $$ Blog Page
//**************************

.page-blog .site-content,
.blog-post {
	a { color: saturate( darken( $color-blog, 10% ), 10% ); }
}

//*************************
// $$ Books Page
//**************************

.page-atoz-css-books .site-content,
.book-post {
	a { color: $color-books; }
}

//*************************
// $$ Course Page
//**************************


.page-courses .site-content,
.course-post {
	a { color: $color-courses; }
}


