.site-footer-logo {
	position:fixed;
	left:0;
	bottom:0;

	width:100%;
	background:$color-dark;

	font-size:0.75rem;
	text-align:center;

	z-index:100;

	a {
		display:inline-block;
		margin-top:-2rem;
		padding:0.5rem 4rem;
		background:$color-dark;
	}
}
.site-logo {
	position:relative;
	left:-0.15em;

	display:inline-block;
	margin:0.25em 0 1em;

	color:#fff;
	background:$color-dark;
	text-shadow:
	hsl(0, 0%, 45%) 1px 1px,
	hsl(0, 0%, 45%) 2px 2px,
	hsl(0, 0%, 45%) 3px 3px,
	hsl(0, 0%, 45%) 4px 4px,
	hsl(0, 0%, 45%) 5px 5px,
	hsl(0, 0%, 45%) 6px 6px,
	hsl(0, 0%, 45%) 7px 7px,
	hsl(0, 0%, 45%) 8px 8px,
	hsl(0, 0%, 45%) 9px 9px,
	hsl(0, 0%, 45%) 10px 10px,
	hsl(0, 0%, 40%) 11px 11px,
	hsl(0, 0%, 40%) 12px 12px,
	hsl(0, 0%, 35%) 13px 13px,
	hsl(0, 0%, 35%) 14px 14px,
	hsl(0, 0%, 30%) 15px 15px,
	hsl(0, 0%, 30%) 16px 16px,
	hsl(0, 0%, 25%) 17px 17px,
	hsl(0, 0%, 25%) 18px 18px,
	hsl(0, 0%, 20%) 19px 19px,
	hsl(0, 0%, 20%) 20px 20px;

	font-size:2em;
	font-family:monospace;
	font-weight:bold;
	line-height:0.6em;
	text-align:center;

	transform:scale(0.75);
	z-index:1;

	@media screen and (min-width:25em) {
		font-size:3em;
		margin:0.5em 0 0.75em;
	}
}
.site-logo:before {
	content:"{";
	position:absolute;
	top:0.3em;
	right:100%;
	margin:0;
	font-size:1em;
	font-weight:normal;
	z-index:-1;
}
.site-logo:after {
	content:"}";
	position:absolute;
	top:0.3em;
	left:100%;
	margin:0;
	font-size:1em;
	font-weight:normal;
}
.site-logo span { font-size:0.5em; }
.site-logo b {
	display:block;
	margin:0;

	color: #fff;
	text-shadow:
	hsl(330, 66%, 45%) 1px 1px,
	hsl(330, 66%, 45%) 2px 2px,
	hsl(330, 66%, 45%) 3px 3px,
	hsl(330, 66%, 45%) 4px 4px,
	hsl(330, 66%, 45%) 5px 5px,
	hsl(330, 66%, 45%) 6px 6px,
	hsl(330, 66%, 45%) 7px 7px,
	hsl(330, 66%, 45%) 8px 8px,
	hsl(330, 66%, 45%) 9px 9px,
	hsl(330, 66%, 45%) 10px 10px,
	hsl(330, 66%, 40%) 11px 11px,
	hsl(330, 66%, 40%) 12px 12px,
	hsl(330, 66%, 35%) 13px 13px,
	hsl(330, 66%, 35%) 14px 14px,
	hsl(330, 66%, 30%) 15px 15px,
	hsl(330, 66%, 30%) 16px 16px,
	hsl(330, 66%, 25%) 17px 17px,
	hsl(330, 66%, 25%) 18px 18px,
	hsl(330, 66%, 20%) 19px 19px,
	hsl(330, 66%, 20%) 20px 20px;
	font-size:0.6em;
}
