//*************************
// $$ Nav
//**************************

.site-nav {
	text-align:center;
	overflow:hidden;

	ul {
		margin:0;
		padding:0;
	}
	li {
		flex:1;
		margin:0;
	}
	a {
		display:inline-block;
		color:#fff;
		text-decoration:none;
	}
}
.main-nav {
	display:flex;

	a {
		padding:3rem 2rem;

		font-size:3.2rem;
		font-weight:bold;
		text-shadow:0 1px 0 #000;
	}
}
.secondary-nav {
	font-size:0.875em;
	background:$color-dark;
	overflow:hidden;

	li {
		display:inline-block;

		&:before {
			content:"・";
			color:#fff;
		}
		&:first-child:before {
			display:none;
		}
	}
	a {
		padding:0.75em 0.5em;
		color:#fff;
	}
}
$nav-items: (
	'videos': $color-brand,
	'blog': $color-blog,
	'books': $color-books,
	'courses': $color-courses,
);

@each $item, $item-color in $nav-items {

	.site-nav .site-nav-#{$item} {
		background:$item-color;
	}
	.page-#{$item} {
		.site-nav-#{$item} {
		}
	}

}

