//*************************
// $$ Nav
//**************************

.site-nav {
	text-align:center;
	overflow:hidden;

	ul {
		display:inline-block;
		margin:0 0 -1rem;
		padding:0;
		text-align:center;
	}
	li {
		float:left;
		margin:0;
	}
	a {
		position:relative;
		top:0.5rem;

		display:inline-block;
		padding:1rem 2rem;

		color:#000;
		background:$color-brand;
		text-align:center;

		&:hover, &:focus, &:active {
			top:0;
		}
	}
}
$i:1;
$nav-items:'home', 'all-episodes', 'about', 'subscribe';
$nav-colours:$color-home, $color-all-episodes, $color-about, $color-subscribe;

@each $item in $nav-items {

	.site-nav .site-nav-#{$item} {
		background:nth($nav-colours, $i);
	}
	.page-#{$item} {
		.site-nav-#{$item} {
			top:0;
			color:#fff;
			background:$color-brand;
		}
	}
	$i: $i + 1;

}
