//*************************
// $$ Nav
//**************************

.site-nav {
	text-align:center;
	overflow:hidden;

	ul {
		margin:0;
		padding:0;
		text-align:center;
	}
	li {
		float:left;
		width:50%;
		margin:0;
	}
	a {
		display:inline-block;
		width:100%;
		padding:1rem 2rem;

		color:#000;
		background:$color-brand;
		text-align:center;
	}
}
@media screen and (min-width:25em) {
	.site-nav {
		ul {
			display:inline-block;
			margin-bottom:-1rem;
		}
		li {
			width:auto;
		}
		a {
			position:relative;
			top:0.5rem;
			width:auto;

			&:hover, &:focus, &:active {
				top:0;
			}
		}
	}
}
$nav-items: (
	'home': $color-home,
	'start-here': $color-start-here,
	'all-episodes': $color-all-episodes,
	'blog': $color-blog,
	'resources': $color-resources,
	'books': $color-books,
	'about': $color-about,
	'subscribe': $color-subscribe
);

@each $item, $item-color in $nav-items {

	.site-nav .site-nav-#{$item} {
		background:$item-color;
	}
	.page-#{$item} {
		.site-nav-#{$item} {
			top:0;
			color:#fff;
			background:$color-brand;
		}
	}

}
