//*************************
// $$ Posts
//**************************


.episodes,
.blogs {
	margin:$font-margin-bottom*1.5 0 $font-margin-bottom*2;
	padding:0;
	list-style:none;

	li {
		margin-bottom:$font-margin-bottom;
	}
}
.episode-video {
	margin:$font-margin-bottom 0 0.5rem;

	input[type="email"] {
		color:$color-dark;
	}
}
.episode-promo {
	margin:1em auto 0.5em;
	text-align:center;

	@media screen and (min-width:40em) {
		margin:0;
	}

	.page-home & {
		margin-top:$font-margin-bottom;
	}
}
.episode-header {
	text-align:center;
}
.episode-info {
	margin-top: 3em;
}
.wistia_socialbar {
	float:right;
	margin-top:1rem!important;
}
[id*=requireEmail_text_below] {
	font-size:2rem!important;
	font-style:normal!important;
}
.episode-title,
.blog-title {
	@extend %h2;
	margin:0;
	line-height:1;
}
.blog-title {
	margin: 0.5em 0;
}
.episode h1 {
	@extend %h1;
	margin:0;
	line-height:1;
}
.episode h2 {
	@extend %h3;
}
.episode-time {
	font-size:0.5em;
}
.episode-meta {
	margin-bottom:$font-margin-bottom/2;
	color:$color-medium-grey;
}
.episode-featured {
	margin-bottom:4rem;
}
.episodes-list {
	margin:2rem auto 4rem;
	padding:0;
	list-style:none;
	line-height:0.875em;

	li {
		display:inline;
		margin:0 0.25em;

		color:$color-medium-grey;
	}
}
.episodes-list-short {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		display: inline;
		font-size: 1.4em;
		font-weight: 500;
		padding: 0 0.25em;

		&:last-child {
			@extend %clearfix;
		}
	}
}

.episode-content-title {
	@extend %h2;
	position:relative;
	display:inline-block;
	margin-bottom:$font-margin-bottom/2;
	color:$color-link;
	cursor:pointer;
	vertical-align:middle;

	&:before,
	&:after {
		content:"";
		position:absolute;
		top:0.5em;
		right:-0.5em;

		width:0;
		height:0.5em;
		border-left:3px solid $color-link;

		-webkit-transition:0.3s;
				transition:0.3s;
	}
	&:after {
		-webkit-transform:rotate(90deg);
				transform:rotate(90deg);
	}
}
.episode-accordion {
	-webkit-transition:all 1s ease-in-out;
	        transition:all 1s ease-in-out;
}
.episode-content-toggle {
	position:absolute;
	left:-9999em;

	& ~ .episode-accordion {
		max-height:0;
		overflow:hidden;
	}
	&:checked ~ .episode-content-title:before {
		-webkit-transform:rotate(90deg);
		        transform:rotate(90deg);
	}
	&:checked ~ .episode-accordion {
		max-height:10000px;
	}
}


.episode-nav {
	margin:0.5em 0 1em;
	overflow:hidden;
}
.episode-nav-next {
	float:right;
}
.episode-nav-prev {
	float:left;
}

.episode-comments {
	margin:3rem 0;
}
