//*************************
// $$ Posts
//**************************


.episodes {
	margin:$font-margin-bottom*1.5 0 $font-margin-bottom*2;
	padding:0;
	list-style:none;

	li {
		margin-bottom:$font-margin-bottom;
	}
}
.episode-video {
	margin:$font-margin-bottom 0;
}
.wistia_socialbar {
	margin-top:1rem!important;
}
.episode-title {
	@extend %h2;
	margin:0;
	line-height:1;
}
.episode h1 {
	@extend %h1;
	margin:0;
	line-height:1;
}
.episode-time {
	font-size:0.5em;
}
.episode-meta {
	margin-bottom:$font-margin-bottom/2;
	color:#666;
}
.episode-featured {
	margin-bottom:4rem;
}
.episodes-list {
	margin:2rem auto 4rem;
	padding:0;
	list-style:none;
	line-height:0.875em;

	li {
		display:inline;
		margin:0 0.25em;

		color:#999;
	}
}
.episode-nav {
	overflow:hidden;
}
.episode-nav-next {
	float:right;
}
.episode-nav-prev {
	float:left;
}
