//*************************
// $$ Promotions
//**************************

.promo {
	margin-bottom:$font-margin-bottom;
	padding:2em;
	background:$color-light-grey;
	border:1px solid $color-border;
}

