//*************************
// $$ Variables
//**************************

$color-blue:   #66d9ef;
$color-purple: #ae81ff;
$color-green:  #9be22d;
$color-yellow: #e6db74;
$color-pink:   #ec2772;
$color-orange: #ffab1d;

$color-brand:#cc3f85;
$color-dark:#222;
$color-medium-grey:#666;
$color-link:$color-green;
$color-link-hover:$color-blue;
$color-copy:#fff;

$color-videos:$color-green;
$color-blog: $color-yellow;
$color-start-here:$color-blue;
$color-resources: $color-purple;
$color-about:$color-orange;

$font-brand:Avenir, Helvetica, Arial, sans-serif;
$font-copy:$font-brand;
$font-margin-bottom:3rem;
$font-leading:1.5;

$font-size-h1:6rem;
$font-size-h2:4rem;
$font-size-h3:3rem;
$font-size-h4:2rem;
$font-sizes: (
	'h1': $font-size-h1,
	'h2': $font-size-h2,
	'h3': $font-size-h3,
	'h4': $font-size-h4
);
