//*************************
// $$ Variables
//**************************

$color-brand:#CC3F85; // pink
$color-dark:#222;
$color-link:#9be22d; // green
$color-link-hover:lighten($color-link, 20%);
$color-copy:#fff;

$font-brand:Avenir, Helvetica, Arial, sans-serif;
$font-copy:$font-brand;
$font-margin-bottom:3rem;
$font-leading:1.5;

$font-size-h1:4rem;
$font-size-h2:3rem;
$font-size-h3:2.5rem;
$font-size-h4:2rem;
$font-sizes:$font-size-h1, $font-size-h2, $font-size-h3, $font-size-h4;
