//*************************
// $$ Gallery
//**************************

.category-title {
	margin-top:1em;
	text-align:center;
}
.video-gallery {
	font-size:0;
	overflow:hidden;
}
.video-item {
	display:inline-block;
	width:33.333%;
	padding:1rem;
	font-size:1rem;
	text-align:center;
	vertical-align:bottom;

	@media screen and (max-width:31.25em) {
		width:100%;
	}
}
.video-poster {
	position:relative;
	padding:56.25% 100% 0 0;
	border:1px solid #ccc;
	background-size:cover;

	&:hover {
		opacity:0.8;
	}
}
