<div id="mc_embed_signup" class="subscribe-form">
	<form action="http://atozcss.us3.list-manage.com/subscribe/post?u=fb5c2d7d6163f7fcbba78e8b0&amp;id=5fa71cd7de" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<label for="mce-EMAIL">Be the first to hear about new videos, CSS stuff and awesome&nbsp;resources</label>
		<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
		<div style="position: absolute; left: -5000px;"><input type="text" name="b_fb5c2d7d6163f7fcbba78e8b0_5fa71cd7de" value=""></div>
		<input type="submit" class="button" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
		<p>No spam or funny business, I&nbsp;promise.</p>
	</form>
</div>
