<div class="subscribe-icons">
	<h2>Subscribe now&nbsp;on</h2>
	<a href="https://itunes.apple.com/gb/podcast/atoz-css/id879841514?mt=2" title="Subscribe via iTunes">
		<img src="/img/itunes-logo.png" alt="iTunes logo">
		<h2>iTunes</h2>
	</a>
	<a href="https://www.youtube.com/user/atozcss" title="Subscribe via YouTube">
		<img src="/img/youtube-logo.png" alt="YouTube logo">
		<h2>YouTube</h2>
	</a>
	<a href="http://feeds.feedburner.com/atozcss" title="Subscribe via RSS">
		<img src="/img/rss-logo.png" alt="RSS logo">
		<h2>RSS</h2>
	</a>
</div>
