{% if post.wistiaId %}
	<div id="wistia_{{ post.wistiaId }}" class="wistia_embed episode-video" style="width:640px;height:360px;">&nbsp;</div>
	<script>
		wistiaEmbed = Wistia.embed("{{ post.wistiaId }}", {
			videoFoam: true
		});
	</script>
{% endif %}
{% if page.wistiaId %}
	<div id="wistia_{{ page.wistiaId }}" class="wistia_embed episode-video" style="width:640px;height:360px;">&nbsp;</div>
	<script>
		wistiaEmbed = Wistia.embed("{{ page.wistiaId }}", {
			videoFoam: true
		});
	</script>
{% endif %}
