---
layout: default
---

<div class="single-book">
	<div class="single-book-image">
		<img src="/img/{{ page.cover_image }}" alt="{{ page.title }}">
		<div class="book-price">
			{{ page.price }}
		</div>
		<p>Word Count: {{ page.words }}</p>
		<p>Last Updated: {{ page.last_updated }}</p>
	</div>

	<div class="single-book-content">
		<h1>{{page.title}}</h1>
		<h2>{{ page.subtitle }}</h2>

		{{ page.description | markdownify }}

		<p>This book is now available to order {{ checkout_options }}.</p>

		<h3>In this book&hellip;</h3>
		<ul>
			{{ page.benefits | markdownify }}
		</ul>

		{{ content }}
	</div>

	<div class="single-book-buy">
		<a href="{{ page.buy_link }}" class="button button-books">buy now</a>
	</div>
</div>
