---
layout: default
---

<h1 class="course-title">{{ page.subtitle }}</h1>

<div class="site-container-inner">
	{{ content }}

	<section class="subscribe">
		<div id="mc_embed_signup" class="subscribe-form">
			<form action="//atozcss.us3.list-manage.com/subscribe/post?u=fb5c2d7d6163f7fcbba78e8b0&amp;id=c0ba1616a2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<label for="mce-EMAIL">Register your interest for the Flexbox&nbsp;in&nbsp;Action</label>
				<div class="subscribe-form-fields">
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fb5c2d7d6163f7fcbba78e8b0_c0ba1616a2" tabindex="-1" value=""></div>
					<input type="submit" class="button" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
				</div>
				<p>PS this form even uses flexbox!</p>
			</form>
		</div>
	</section>
</div>
