---
layout: default
---

<article class="episode">

	<div class="site-container-inner episode-header">
		<div class="episode-main-title">
			<h1>{{page.title}}</h1>
			<p class="episode-meta">Posted on: {{ page.date | date: "%d %B %Y" }} </p>
		</div>
	</div>
	<div class="episode-content">
		{% include video.html %}
		{% include pagination.html %}

		<div class="site-container-inner">
			<section>
				<input class="episode-content-toggle" type="checkbox" id="summary">
				<label class="episode-content-title" for="summary">Summary</label>
				<div class="episode-accordion">
					{{ page.summary | markdownify }}
				</div>
			</section>
			<section>
				<input class="episode-content-toggle" type="checkbox" id="transcript">
				<label class="episode-content-title" for="transcript">Transcript</label>
				<div class="episode-accordion">
					{{ content }}
				</div>
			</section>
		</div>
	</div>

	<div class="site-container-inner">

		{% if page.comments %}
			<div id="disqus_thread" class="episode-comments"></div>
			<script type="text/javascript">
				var disqus_shortname = '{{ site.disqusName }}';
				{% if page.disqusId %}
					var disqus_identifier = '{{ page.disqusId }}';
				{% else %}
					var disqus_identifier = '{{ page.wistiaId }}';
				{% endif %}
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		{% endif %}
	</div>

</article>

<div class="site-container-inner">
	{% include twitter-follow.html %}
	{% include episodes-list.html %}
</div>
