---
layout: default
---

<article class="episode">

	<h1>{{page.title}}</h1>
	<p>{{ page.date | date: "%d %B %Y" }}</p>

	<div class="episode-content">
		{% include video.html %}
		{{ content }}
	</div>

	<nav class="episode-nav">
		{% if page.previous %}
			<a rel="prev" class="episode-nav-prev" href="{{ page.previous.url }}">
				← {{ page.previous.title }}
			</a>
		{% endif %}
		{% if page.next %}
			<a rel="next" class="episode-nav-next" href="{{ page.next.url }}">
				{{ page.next.title }} →
			</a>
		{% endif %}
	</nav>

</article>
